<section id="about" class="container">
    <section class="avatar">
      <img src="../../../assets/img/avatar.jfif" alt="" />
      <div>
        <i class="fa fa-pen" onclick="showEditProfileModal()"></i>
      </div>
    </section>
    <section class="Info">
      <h2>Claudia Marcela Amores</h2>
      <h3>Full Stack Developer Jr</h3>
      <p>Mendoza, Argentina</p>
    </section>
    <ul>
      <li class="Insignias">
          <a href="https://mumuki.io/argentina-programa/certificates/verify/iKZCGtL9YOwrs_yL"> 
              <!-- /*colocar el logo de argentina programa*/ -->
              <img src="../../../assets/img/insignia1.jfif" alt="Argentina Programa" />
              <h2>insignia1</h2>
          </a>
      </li>
      <li class="Certificaciones">
        <a href=""> 
              <img src="../../../assets/img/insignia2.png" alt="" />
              <h2>insignia2</h2>
          </a>
      </li>
      <li class="Certificaciones">
          <a href=""> 
              <img src="../../../assets/img/insignia3.jfif" alt="" />
              <h2>insignia3</h2>
          </a>
          
      </li>
      
    </ul>
    <section>
      <button type="button" class="btn btn-primary btn-lg">Mis Intereses</button>
      <button type="button" class="btn btn-light">Añadir Sección</button>
      <button type="button" class="btn btn-light">Más</button>
    </section>
  
  <section class="card acerca de">
      <h2>Acerca de</h2>
      <div>
      <i class="fa fa-pen" onclick="showEditProfileModal()"></i>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, perferendis. Quod odit, iste porro culpa id consectetur asperiores cum nisi temporibus quisquam provident! Dignissimos at, ipsum nihil laborum sunt illum.
      Magnam omnis quos delectus numquam animi maxime illum accusamus, molestias quas at veniam culpa quis voluptatibus debitis accusantium error doloremque cumque minus alias voluptates molestiae eaque. Laboriosam illo soluta quis?</p>
  </section>
  
  </section>
